/*variables couleurs*/
/*General*/
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
}

h1, h2, h3, p {
  font-family: Roboto, sans-serif;
}

/* header*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__text {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  background-color: #eee;
  box-shadow: inset 0 7px 7px -5px #b3b2b2;
}
.header__text p {
  margin-right: 9%;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .header__text p {
    margin: 3% 0;
  }
}
@media screen and (min-width: 992px) {
  .header__text p {
    margin: 2% 0;
  }
}
.header .header__text i {
  padding-right: 20px;
}
.header__img {
  margin: 20px 0;
}

/* Intro */
.intro {
  width: 100%;
  background-color: #F6F6F6;
  height: 330px;
}
.intro__text {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.intro__text h1 {
  font-size: 30px;
  margin-top: 30px;
}
.intro__text p {
  font-size: 18px;
  font-weight: 200;
  margin: 0;
}
.intro__btn {
  width: 70%;
  height: 50px;
  font-size: 17px;
  align-self: center;
  margin: 10%;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356DC);
  color: white;
  border: none;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .intro__btn {
    width: 250px;
  }
}
@media screen and (min-width: 992px) {
  .intro__btn {
    width: 250px;
  }
}
.intro .intro__btn a {
  text-decoration: none;
  color: white;
}

/*Steps*/
.steps {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .steps {
    flex-flow: row wrap;
    width: 95%;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .steps {
    flex-flow: row wrap;
    width: 95%;
    margin: auto;
  }
}
.steps h1 {
  margin: 30px 20px;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .steps h1 {
    flex: 1 1 100%;
  }
}
@media screen and (min-width: 992px) {
  .steps h1 {
    flex: 1 1 100%;
  }
}
.steps__btn {
  width: 85%;
  height: 60px;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  border-radius: 25px;
  position: relative;
  margin: 10px 20px 20px 40px;
  border: none;
  background-color: #F6F6F6;
  box-shadow: 5px 5px 7px -2px #b3b2b2;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .steps__btn {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 20%;
    margin: 2%;
  }
}
@media screen and (min-width: 992px) {
  .steps__btn {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 20%;
    margin: 2%;
  }
}
.steps__num {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: #9356DC;
  position: absolute;
  top: 13px;
  left: -17px;
  padding: 5px;
  color: white;
}
.steps .fa-solid {
  position: absolute;
  left: 9%;
  top: 33%;
  font-size: 20px;
  color: #7E7E7E;
}
.steps__choose {
  font-weight: 700;
  position: absolute;
  left: 23%;
  top: 35%;
}

/*Restos*/
.restos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1450px;
  background-color: #eee;
}
.restos__title {
  font-size: 30px;
  padding-left: 5%;
}
.restos__cards {
  width: 90%;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  margin: 10px auto;
  position: relative;
  background-color: white;
}
.restos__link {
  text-decoration: none;
  color: black;
}
.restos__new {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /*background-color: $color-tertiary;*/
  background-color: #99e2d0;
}
.restos__img {
  width: 100%;
  object-fit: cover;
  height: 70%;
}
.restos__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.restos__text {
  margin: 0 20px;
}
.restos__text h3 {
  margin: 10px auto;
  font-size: 22px;
}
.restos__text p {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}
.restos__icons {
  font-size: 30px;
  margin: 0 25px;
}

/*Footer*/
footer {
  width: 100%;
  background-color: #353535;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__title {
  color: white;
  font-family: Shrikhand, serif;
  font-size: 25px;
  padding-left: 35px;
}
.footer__link {
  text-decoration: none;
  color: white;
}
.footer li {
  list-style: none;
  line-height: 25px;
}
.footer .fa-utensils,
.footer .fa-handshake-angle {
  font-size: 14px;
  width: 25px;
  height: 20px;
}

/*# sourceMappingURL=style.css.map */
