@charset "UTF-8";
/*variables couleurs*/ /* --- Responsive --- */ /* ---- Animations load spinner ---- */
@keyframes spin {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes text {
  0% {
    opacity: 1;
    background-position: -500%;
  }
  100% {
    opacity: 1;
    background-position: 500%;
  }
}
/* ---- Flou page d'accueil ---- */
@keyframes flou {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 0.1;
  }
}
/* ---- Animation des coeurs ---- */
@keyframes heart-animation {
  0% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/* ---- Apparition progressive des menus ---- */
@keyframes animchoice {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.loader {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinload {
  position: fixed;
  top: 20%;
  left: 25%;
  opacity: 1;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .spinload {
    left: 35%;
    top: 20%;
  }
}
@media screen and (min-width: 992px) {
  .spinload {
    left: 40%;
    top: 30%;
  }
}

.loader__spin {
  width: 250px;
  height: 250px;
  border: 5px solid transparent;
  border-radius: 50%;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  animation: spin 3s ease-in-out 3;
  position: absolute;
}
.loader__spin:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  left: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #ff79da;
  border-bottom-color: #ff79da;
  animation: spin 3s ease-in-out 3;
}
.loader__spin:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #99e2d0;
  border-bottom-color: #99e2d0;
  animation: spin 3s ease-in-out 3;
}

.loader__text {
  position: absolute;
  font-size: 40px;
  background: linear-gradient(90deg, #6c27be, #ff2dc5, #5dd1b5);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  animation: text 3s ease-in-out 3;
  font-family: Shrikhand, serif;
  font-weight: bold;
  align-self: center;
  width: 300px;
  top: 100px;
  left: -20px;
}

/* ---- General ---- */
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  height: 100%;
}

h1 {
  font-family: Shrikhand, serif;
}

h2, h3, p {
  font-family: Roboto, sans-serif;
}

/* ---- Footer ---- */
footer {
  width: 100%;
  background-color: #353535;
  position: relative;
  top: 100%;
}
@media screen and (min-width: 992px) {
  footer {
    width: 90%;
    margin: 0 auto;
  }
}

/* ---- Bouton "Explorer nos restaurants" ---- */
.intro__btn {
  width: 70%;
  height: 50px;
  font-size: 17px;
  align-self: center;
  margin: 10%;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356DC);
  color: #fff;
  border: none;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .intro__btn {
    width: 20%;
  }
}
@media screen and (min-width: 992px) {
  .intro__btn {
    width: 20%;
  }
}

.intro__btn span {
  color: #fff;
}

/* ---- Bouton "Commander" ---- */
.menu__btn {
  display: flex;
  width: 45%;
  height: 50px;
  font-size: 17px;
  margin: 10% auto;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356DC);
  border: none;
}
@media screen and (min-width: 992px) {
  .menu__btn {
    width: 30%;
  }
}

.menu__btn a {
  display: flex;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 992px) {
  .menu__btn a {
    font-size: 30px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.header__text {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  background-color: #eee;
  box-shadow: inset 0 7px 7px -5px #b3b2b2;
}
@media screen and (min-width: 992px) {
  .header__text {
    border-radius: 15px 15px 0 0;
  }
}
.header__text p {
  margin-right: 9%;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .header__text p {
    margin: 3% 0;
  }
}
@media screen and (min-width: 992px) {
  .header__text p {
    margin: 2% 0;
  }
}
.header__text i {
  padding-right: 20px;
}
.header__img {
  margin: 20px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .footer {
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    align-items: center;
  }
}
.footer__title {
  color: #fff;
  font-family: Shrikhand, serif;
  font-size: 25px;
  padding-left: 35px;
  font-weight: 500;
}
.footer__link {
  text-decoration: none;
  color: #fff;
}
.footer li {
  list-style: none;
  line-height: 25px;
}
.footer .fa-utensils,
.footer .fa-handshake-angle {
  font-size: 14px;
  width: 25px;
  height: 20px;
}

/* ---- Flèche Header menus ---- */
.header__arrow {
  text-decoration: none;
  color: black;
  font-size: 25px;
  position: absolute;
  left: 10%;
  top: 35%;
}
@media screen and (min-width: 992px) {
  .header__arrow {
    left: 30%;
  }
}

/* ---- Image ---- */
.back {
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .back {
    width: 90%;
    margin: auto;
  }
}
.back__img {
  width: 100%;
  object-fit: cover;
  position: absolute;
}
@media screen and (min-width: 992px) {
  .back__img {
    width: 90%;
    border-radius: 50px;
  }
}

/* ---- Menus ---- */
.menu {
  display: flex;
  flex-direction: column;
  margin-top: 50%;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  position: relative;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .menu {
    margin-top: 50%;
  }
}
@media screen and (min-width: 992px) {
  .menu {
    margin: 35% auto 0;
    width: 90%;
  }
}
.menu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 30px auto;
  font-size: 35px;
}
.menu__title--heartsize {
  font-size: 30px;
}
@media screen and (min-width: 992px) {
  .menu__title {
    width: 70%;
  }
  .menu__title--heartsize {
    font-size: 40px;
  }
}
.menu__title h1 {
  font-size: 30px;
}
@media screen and (min-width: 992px) {
  .menu__title h1 {
    font-size: 45px;
  }
}
.menu__cards {
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .menu__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .menu__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.menu__type {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  margin: 4% 2%;
}
.menu__type--underline {
  text-decoration: underline #99e2d0 3px;
  text-underline-offset: 10px;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .menu__type {
    text-align: center;
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .menu__type {
    margin: 2%;
    font-size: 25px;
  }
}
.menu .choice {
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  height: 80px;
  margin: 15px 0;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  animation: animchoice 2000ms ease-in-out forwards;
}
.menu .choice:hover .choice__text {
  flex: 0 1 65%;
}
.menu .choice--1 {
  animation-delay: 200ms;
}
.menu .choice--2 {
  animation-delay: 400ms;
}
.menu .choice--3 {
  animation-delay: 600ms;
}
.menu .choice--4 {
  animation-delay: 800ms;
}
.menu .choice--5 {
  animation-delay: 1000ms;
}
.menu .choice--6 {
  animation-delay: 1200ms;
}
.menu .choice--7 {
  animation-delay: 1400ms;
}
.menu .choice--8 {
  animation-delay: 1600ms;
}
.menu .choice--9 {
  animation-delay: 1800ms;
}
.menu .choice--10 {
  animation-delay: 2000ms;
}
.menu .choice__title {
  flex: 1 1 100%;
  margin: 10px 15px;
}
.menu .choice__text {
  flex: 0 1 75%;
  margin: 10px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .choice:hover .choice__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .choice--policetype {
  font-weight: bold;
  font-family: Roboto, sans-serif;
  margin-right: -20px;
  transform: translateX(0);
  transition: transform 600ms ease-in-out;
  width: 4%;
}
.menu .choice:hover .choice--policetype {
  transform: translateX(-150%);
}
.menu .choice__check {
  align-self: center;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 600ms, 600ms ease-in-out;
  background-color: #99e2d0;
  height: 100%;
  width: 15%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: -42px;
  color: #fff;
}
.menu .choice:hover .choice__check {
  transform: translateX(0);
  opacity: 1;
  overflow: hidden;
}
.menu .choice__check i {
  transition: 800ms ease-in-out;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #fff;
  font-weight: bold;
  color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .choice:hover .choice__check i {
  transform: rotate(360deg);
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .menu .choice {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .menu .choice {
    width: 60%;
    margin: 1%;
    height: 100px;
  }
}

/* ---- Animation loader ---- */
.headerindex, .general, footer {
  animation: flou 9s linear;
}
@media screen and (min-width: 992px) {
  .headerindex, .general, footer {
    width: 90%;
    margin: auto;
  }
}

/* ---- Presentation ---- */
.intro {
  width: 100%;
  background-color: #F6F6F6;
  height: 330px;
}
.intro__text {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.intro__text h1 {
  font-size: 30px;
  margin-top: 30px;
}
.intro__text p {
  font-size: 18px;
  font-weight: 200;
  margin: 0;
}

/* ---- Fonctionnement ---- */
.steps {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .steps {
    width: 95%;
    margin: 3% auto;
  }
}
@media screen and (min-width: 992px) {
  .steps {
    flex-flow: row wrap;
    width: 100%;
    margin: auto;
    padding: 5% 0;
    background-color: #F6F6F6;
  }
}
.steps h2 {
  margin: 30px 20px;
  font-size: 30px;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .steps h2 {
    flex: 1 1 100%;
  }
}
@media screen and (min-width: 992px) {
  .steps h2 {
    flex: 1 1 100%;
  }
}
.steps__btn {
  width: 85%;
  height: 60px;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  border-radius: 25px;
  position: relative;
  margin: 10px 20px 20px 40px;
  border: none;
  background-color: #F6F6F6;
  box-shadow: 5px 5px 7px -2px #b3b2b2;
  z-index: 1;
}
.steps__btn:hover::after {
  opacity: 1;
}
.steps__btn::after {
  content: "";
  background-color: #e4d5f6;
  opacity: 0;
  transition: opacity 300ms;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 25px;
  box-shadow: 5px 5px 7px -2px #807f7f;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .steps__btn {
    display: flex;
    flex-flow: row nowrap;
    margin: 2% auto;
  }
}
@media screen and (min-width: 992px) {
  .steps__btn {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 20%;
    margin: 2%;
  }
}
.steps__num {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: #9356DC;
  position: absolute;
  top: 13px;
  left: -17px;
  padding: 5px;
  color: #fff;
}
.steps .fa-solid {
  position: relative;
  right: 40%;
  font-size: 20px;
  color: #7E7E7E;
  z-index: 1;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .steps .fa-solid {
    left: 9%;
    top: 30%;
  }
}
@media screen and (min-width: 992px) {
  .steps .fa-solid {
    left: 9%;
    top: 30%;
  }
}
.steps .fa-solid:hover {
  opacity: 1;
}
.steps .fa-solid:hover::after {
  content: "";
  color: #9356DC;
  opacity: 0;
  transition: opacity 300ms;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.steps__choose {
  font-weight: 700;
  position: absolute;
  left: 23%;
  top: 35%;
}

/* ---- Carte des restaurants ---- */
.restos {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 50px;
  background-color: #eee;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .restos {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
  }
}
@media screen and (min-width: 992px) {
  .restos {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
  }
}
.restos__title {
  font-size: 30px;
  padding-left: 5%;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .restos__title {
    flex: 1 1 100%;
    padding-left: 2%;
  }
}
@media screen and (min-width: 992px) {
  .restos__title {
    flex: 1 1 100%;
    padding-left: 2%;
  }
}
.restos__cards {
  width: 90%;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  margin: 10px auto;
  position: relative;
  background-color: #fff;
  transition: box-shadow 500ms;
}
.restos__cards:hover {
  box-shadow: 5px 5px 5px #b3b2b2;
}
@media screen and (min-width: 770px) and (max-width: 992px) {
  .restos__cards {
    flex: 1 1 40%;
    margin: 20px;
  }
}
@media screen and (min-width: 992px) {
  .restos__cards {
    flex: 1 1 40%;
    margin: 25px;
  }
}
.restos__link {
  text-decoration: none;
  color: black;
}
.restos__new {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #278870;
  font-weight: 700;
  background-color: #99e2d0;
}
.restos__img {
  width: 100%;
  object-fit: cover;
  height: 70%;
}
.restos__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.restos__text {
  margin: 0 20px;
}
.restos__text h3 {
  margin: 10px auto;
  font-size: 22px;
}
.restos__text p {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}
.restos__icons {
  font-size: 30px;
  margin: 0 25px;
  position: absolute;
  top: 80%;
  left: 80%;
}
.restos .fa-heart:active {
  font-weight: 800;
  background-image: linear-gradient(#ff79da, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: heart-animation 1000ms;
}
@media screen and (min-width: 992px) {
  .restos .fa-heart:hover {
    cursor: pointer;
    font-weight: 800;
    background-image: linear-gradient(#ff79da, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: heart-animation 1000ms;
  }
}

/*# sourceMappingURL=style.css.map */
