@import "./utils/variables";
@import "./utils/maps";
@import "./utils/mixins";

/*General*/

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: auto;
}

h1{
    font-family: Shrikhand, serif;
}

h2, h3, p{
    font-family: Roboto, sans-serif;
}

/* header*/

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /*menu-palette*/
    &__arrow{
        text-decoration: none;
        font-size: 25px;
        position: absolute;
        left: 10%;
        top: 35%;
    }
    /*fin menu-palette*/
    &__text{
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        background-color: $background-header;
        box-shadow: inset 0 7px 7px -5px #b3b2b2;
    }
    &__text p{
        margin-right: 9%;
        @include tablettes {
            margin: 3% 0;
        }
        @include desktop {
            margin: 2% 0;
        }
    }
    .header__text i{
        padding-right: 20px;
    }
    &__img{
        margin: 20px 0;
    }
}

/* Intro */

.intro{
    width: 100%;
    background-color: $background-general;
    height: 330px;
    &__text{
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }
    &__text h1{
        font-size: 30px;
        margin-top: 30px;
    }
    &__text p{
        font-size: 18px;
        font-weight: 200;
        margin: 0;    
    }
    &__btn{
        width: 70%;
        height: 50px;
        font-size: 17px;
        align-self: center;
        margin: 10%;
        border-radius: 25px;
        background: linear-gradient($color-secondary,$color-primary);
        color: white;
        border: none;
        @include tablettes{
            width: 20%;
        }
        @include desktop {
            width: 20%;
        }
    }
    .intro__btn a{
        text-decoration: none;
        color: white;
    }
}

/*Steps*/

.steps{
    display: flex;
    flex-direction: column;
    @include tablettes{
        flex-flow: row wrap;
        width: 95%;
        margin: auto;
    }
    @include desktop{
        flex-flow: row wrap;
        width: 95%;
        margin: auto;
    }
    h1{
        margin: 30px 20px;
        @include tablettes{
            flex: 1 1 100%;
        }
        @include desktop {
            flex: 1 1 100%;
        }
    }
    &__btn{
        width: 85%;
        height: 60px;
        font-family: Roboto, sans-serif;
        font-size: 17px;
        border-radius: 25px;
        position: relative;
        margin: 10px 20px 20px 40px;
        border: none;
        background-color: $background-general;
        box-shadow: 5px 5px 7px -2px #b3b2b2;
        @include tablettes {
            display: flex;
            flex-flow: row nowrap;
            flex: 1 1 20%;
            margin: 2%;
        }
        @include desktop {
            display: flex;
            flex-flow: row nowrap;
            flex: 1 1 20%;
            margin: 2%;
        }
    }
    &__num{
        height: 30px;
        width: 30px;
        border-radius: 100%;
        background: $color-primary;
        position: absolute;
        top: 13px;
        left: -17px;
        padding: 5px;
        color: white;
    }
    .fa-solid{
        position: absolute;
        left: 9%;
        top: 33%;
        font-size: 20px;
        color: $color-icons;
    }
    &__choose{
        font-weight: 700;
        position: absolute;
        left: 23%;
        top: 35%;
    }
}

/*Restos*/
    .restos{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1450px;
        background-color: $background-header;
        @include tablettes{
            display: flex;
            flex-flow: row wrap;
            height: 100%;
        }
        @include desktop{
            display: flex;
            flex-flow: row wrap;
            height: 100%;
        }
        &__title{
            font-size: 30px;
            padding-left: 5%;
            @include tablettes{
                flex: 1 1 100%;
                padding-left: 2%;
            }
            @include desktop{
                flex: 1 1 100%;
                padding-left: 2%;
            }
        }
        &__cards{
            width: 90%;
            height: 300px;
            overflow: hidden;
            border-radius: 20px;
            margin: 10px auto;
            position: relative;
            background-color: white;
            @include tablettes{
                flex: 1 1 40%;
                margin: 20px;
            }
            @include desktop{
                flex: 1 1 40%;
                margin: 25px;
            }
        }
        &__link{
            text-decoration: none;
            color: black;
        }
        &__new{
            position: absolute;
            top: 5%;
            right: 10%;
            width: 20%;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            /*background-color: $color-tertiary;*/
            @include background-new
        }
        &__img{
            width: 100%;
            object-fit: cover;
            height: 70%;
        }
        &__content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;  
        }
        &__text{
            margin: 0 20px;
        }
        &__text h3{
            margin: 10px auto;
            font-size: 22px;
        }
        &__text p{
            margin: 0;
            font-size: 20px;
            font-weight: 300;
        }
        &__icons{
            font-size: 30px;
            margin: 0 25px;
        }
    }

    /*Footer*/

    footer{
        width: 100%;
        background-color: #353535;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include tablettes{
            align-items: center;
        }
        @include desktop{
            align-items: center;
        }
        &__title{
            color: white;
            font-family: Shrikhand, serif;
            font-size: 25px;
            padding-left: 35px;
        }
        &__link{
            text-decoration: none;
            color: white;
        }
        li{
            list-style: none;
            line-height: 25px;
        }
        .fa-utensils,
        .fa-handshake-angle{
            font-size: 14px;
            width: 25px;
            height: 20px;
        }

    }

    /*Image fond menu palette*/
    .back{
        width: 100%;
        overflow: hidden;
        &__img{
            width: 100%;
            height: 30%;
            object-fit: cover;
        }
    }

    .menu{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        background-color: $background-general;
        border-radius: 50px 50px 0 0;
        position: absolute;
        top: 50%;
        &__title{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 85%;
            margin: 30px auto;
            &--heartsize{
                font-size: 30px;
            }
        }
        &__title h1{
            font-size: 35px;
        }
        &__cards{
            width: 90%;
            margin: auto;
        }
        &__type{
            text-transform: uppercase;
            font-weight: 300;
            font-size: 18px;
            margin: 5% 2%;
            &--underline{
                text-decoration: underline lightgreen 3px;
                text-underline-offset: 10px;
            }
        }
        &__plat{
            background-color: white;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            padding: 0 2%;
            height: 80px;
            margin: 15px auto;
            }
        &__plat h3{
            margin: 10px 0;
            font-size: 19px;
        }
        &__infos{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &--policetype{
                font-weight: 700;
                font-family: Roboto, sans-serif;
                padding-right: 4%;
            }
        }
        &__infos p{
            margin: 0;
            padding: 5px 0;
            font-weight: 300;
        }
        &__btn{
            display: flex;
            width: 45%;
            height: 50px;
            font-size: 17px;
            margin: 10% auto;
            border-radius: 25px;
            background: linear-gradient($color-secondary,$color-primary);
            border: none;
        }
        &__btn a{
            display: flex;
            align-items: center;
            margin: auto;
            text-decoration: none;
            color: white;
        }

        
    }

