/* ---- Bouton "Explorer nos restaurants" ---- */

.intro__btn{
    width: 70%;
    height: 50px;
    font-size: 17px;
    align-self: center;
    margin: 10%;
    border-radius: 25px;
    @include back-gradient;
    color: $background-btn;
    border: none;
    &:hover{
        cursor: pointer;
        @include shadow;
    }
    @include tablettes{
        width: 20%;
    }
    @include desktop {
        width: 20%;
    }
}
.intro__btn span{
    color: $background-btn;
}

/* ---- Bouton "Commander" ---- */

.menu__btn{
    display: flex;
    width: 45%;
    height: 50px;
    font-size: 17px;
    margin: 10% auto;
    border-radius: 25px;
    background: linear-gradient($color-secondary,$color-primary);
    border: none;
    @include desktop{
        width: 30%;
    }
}
.menu__btn a{
    display: flex;
    align-items: center;
    margin: auto;
    text-decoration: none;
    color: $background-btn;
    @include desktop{
        font-size: 30px;
    }
}

/* ---- Boutons étapes de fonctionnement ---- */
.steps__btn{
    width: 85%;
    height: 60px;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    border-radius: 25px;
    position: relative;
    margin: 10px 20px 20px 40px;
    border: none;
    background-color: $background-general;
    box-shadow: 5px 5px 7px -2px #b3b2b2;
    z-index: 1;
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: "";
        background-color: lighten($color-primary, 30);
        opacity: 0;
        transition: opacity 300ms;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 25px;
        box-shadow: 5px 5px 7px -2px darken(#b3b2b2, 20);
    }
    @include tablettes {
        display: flex;
        flex-flow: row nowrap;
        margin: 2% auto;
    }
    @include desktop {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 1 20%;
        margin: 2%;
    }
}
.steps__num{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: $color-primary;
    position: absolute;
    top: 13px;
    left: -17px;
    padding: 5px;
    color: white;
}
.fa-solid{
    position: relative;
    right: 40%;
    font-size: 20px;
    color: $color-icons;
    z-index: 1;
    @include tablettes{
        left: 9%;
        top: 30%;
    }
    @include desktop{
        left: 9%;
        top: 30%;
    }
    &:hover{
        opacity: 1;
        &::after{
            content: "";
            color: $color-primary;
            opacity: 0;
            transition: opacity 300ms;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
.steps__choose{
    font-weight: 700;
    position: absolute;
    left: 23%;
    top: 35%;
}
