/* ---- General ---- */

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: auto;
    height: 100%;
}

h1{
    font-family: Shrikhand, serif;
}

h2, h3, p{
    font-family: Roboto, sans-serif;
}

/* ---- Footer ---- */

footer{
    width: 100%;
    background-color: #353535;
    position: relative;
    top: 100%;
    @include desktop {
        width: 90%;
        margin: 0 auto;
    }
}

