/* ---- Animation loader ---- */

.headerindex, .general {
    animation: flou 9s linear;
    @include desktop {
        width: 90%;
        margin: auto;
    }
}

/* ---- Presentation ---- */

.intro{
    width: 100%;
    background-color: $background-general;
    height: 330px;
    &__text{
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }
    &__text h1{
        font-size: 30px;
        margin-top: 30px;
    }
    &__text p{
        font-size: 18px;
        font-weight: 200;
        margin: 0;    
    }
}

/* ---- Fonctionnement ---- */

.steps{
    display: flex;
    flex-direction: column;
    @include tablettes{
        width: 95%;
        margin: 3% auto;
    }
    @include desktop{
        flex-flow: row wrap;
        width: 100%;
        margin: auto;
        padding: 5% 0;
        background-color: $background-general;
    }
    h2{
        margin: 30px 20px;
        font-size: 30px;
        @include tablettes{
            flex: 1 1 100%;
        }
        @include desktop {
            flex: 1 1 100%;
        }
    }
}

/* ---- Carte des restaurants ---- */

    .restos{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 50px;
        background-color: $background-header;
        @include tablettes{
            display: flex;
            flex-flow: row wrap;
            height: 100%;
        }
        @include desktop{
            display: flex;
            flex-flow: row wrap;
            height: 100%;
        }
        &__title{
            font-size: 30px;
            padding-left: 5%;
            @include tablettes{
                flex: 1 1 100%;
                padding-left: 2%;
            }
            @include desktop{
                flex: 1 1 100%;
                padding-left: 2%;
            }
        }
        &__cards{
            width: 90%;
            height: 300px;
            overflow: hidden;
            border-radius: 20px;
            margin: 10px auto;
            position: relative;
            background-color: white;
            transition: box-shadow 500ms;
            &:hover{
                box-shadow: 5px 5px 5px $color-icons;
            }

            @include tablettes{
                flex: 1 1 40%;
                margin: 20px;
            }
            @include desktop{
                flex: 1 1 40%;
                margin: 25px;
            }
        }
        &__link{
            text-decoration: none;
            color: black;
        }
        &__new{
            position: absolute;
            top: 5%;
            right: 10%;
            width: 20%;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            color: darken($color-tertiary, 40);
            font-weight: 700;
            @include background-new
        }
        &__img{
            width: 100%;
            object-fit: cover;
            height: 70%;
        }
        &__content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;  
        }
        &__text{
            margin: 0 20px;
        }
        &__text h3{
            margin: 10px auto;
            font-size: 22px;
        }
        &__text p{
            margin: 0;
            font-size: 20px;
            font-weight: 300;
        }
        &__icons{
            font-size: 30px;
            margin: 0 25px;
            position: absolute;
            top: 80%;
            left: 80%;
        }
        .fa-heart{
            &:hover{
            cursor: pointer;
            font-weight: 800;
            background-image: linear-gradient($color-secondary, $color-primary);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: heart-animation 1000ms;
            }
        }    
    }    