@mixin tablettes {
    @media screen and (min-width: map-get($breakpoints, min-tab)) and (max-width: map-get($breakpoints, max-tab)){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:992px){
        @content;
    }
}

@mixin background-new {
    background-color: $color-tertiary;
}

@mixin back-gradient {
    background: linear-gradient($color-secondary,$color-primary);
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}